.container {
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
}
.container > span {
  font-size: 50px;
  font-weight: bold;
}
.buttons-container > button {
  margin-top: 20px;
  margin-left: 20px;
}
.container-title {
  margin-top: 40px;
  color: #000;
  margin-bottom: 20px;
}
