h3 {
  color: white;
}

.container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 20px;
}

.button {
  padding: 20px;
  padding-right: 27px;
  padding-top: 27px;
  border-radius: 16px;
}

#count {
  font-size: 140px;
  color: black;
}
